# Build fajlovi
bin/
obj/
[Bb]uild/
[Bb]in/
[Oo]bj/

# VS fajlovi
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Paket menadžeri
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe
*.pdb

# Logovi i privremeni fajlovi
*.log
*.vsidx
*.vscode/
*.tmp
*.temp
*.cache
*.db

# Resharper, Rider i sl.
_ReSharper*/
*.DotSettings.user

# Test rezultati
TestResults/
*.TestResults/
*.trx
*.coverage
*.coveragexml

# Publish
publish/
dist/
out/
